<!-- <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" formControlName="title" id="title" required>
    </div>
    <div class="form-group">
      <label for="highlight">Highlight:</label>
      <input type="text" formControlName="highlight" id="highlight" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea formControlName="description" id="description"></textarea>
    </div>
    <div class="form-group">
      <label for="skills">Skills:</label>
      <input type="text" formControlName="skills" id="skills">
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <input type="text" formControlName="category" id="category">
    </div>
   
    <div class="form-group">
      <label for="keyIMG">Key Image:</label>
      <input type="text" formControlName="keyIMG" id="keyIMG">
    </div>
    <div class="form-group">
      <label for="gallery">Gallery:</label>
      <input type="file" formControlName="gallery" id="gallery" multiple>
    </div>
    <button type="submit">Submit</button>
  </form> -->
  
  <form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" formControlName="title" id="title" required>
    </div>
    <div class="form-group">
      <label for="highlight">Highlight:</label>
      <input type="text" formControlName="highlight" id="highlight" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea formControlName="description" id="description"></textarea>
    </div>
    <div class="form-group">
      <label for="skills">Skills:</label>
      <input type="text" formControlName="skills" id="skills">
    </div>

    <div class="form-group">
      <label for="category">Category:</label>
      <div formArrayName="category">
        <div *ngFor="let category of categoryArray.controls; let i=index">
          <label>
            <input type="checkbox" [formControlName]="i" [value]="category.value"> {{category.value}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="keyIMG">Key Image:</label>
      <input type="text" formControlName="keyIMG" id="keyIMG">
    </div>
    <div class="form-group">
      <label for="gallery">Gallery:</label>
      <input type="file" formControlName="gallery" id="gallery" multiple>
    </div>
    <button type="submit">Submit</button>
  </form>

  <hr>

  <app-sign-in></app-sign-in>
  