<div class="nav-wrapper">
  <nav>
    <a routerLink="/">
      <img src="../../../assets/images/logo.png" alt="logo">
    </a>

    <div class="navLinks">
      <div *ngIf="isLoggedIn$ | async; else loginBtn" class="auth-actions">
        <a routerLink="/dashboard">
          <button class="dashboard">Manage Projects</button>
        </a>
        
        <button (click)="logout()" class="sign-out-btn">Sign Out</button>
      </div>

      <ng-template #loginBtn>
        <a routerLink="/sign-in">
          <button class="sign-in-btn">Sign In</button>
        </a>
      </ng-template>
    </div>
  </nav>
</div>