<div class="auth-page">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3>Admin Login</h3>

    <label for="email">Email</label>
    <input type="email" formControlName="email" placeholder="Email" id="email">

    <label for="password">Password</label>
    <input type="password" formControlName="password" placeholder="Password" id="password">

    @if (errorMessage) {
      <p class="error-msg">{{ errorMessage }}</p>
    }

    <button type="submit" [disabled]="loginForm.invalid || isLoading">
      {{ isLoading ? 'Loading...' : 'Log In' }}
    </button>
  </form>
</div>