<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<form (ngSubmit)="signIn()">
  <h3>Login Here</h3>

  <label for="email">Email</label>
  <input type="text" id="email" placeholder="Email or Phone" [(ngModel)]="email" name="email">

  <label for="password">Password</label>
  <input type="password" id="password" placeholder="Password" [(ngModel)]="password" name="password">

  <button type="submit">Log In</button>

  <div class="social">
    <div class="go"><i class="fab fa-google"></i> Google</div>
    <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
  </div>
</form>
