<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <label>Title:</label>
  <input type="text" formControlName="title"><br>

  <label>Highlight:</label>
  <input type="text" formControlName="highlight"><br>

  <label>Description:</label>
  <textarea formControlName="description"></textarea><br>

  <label>Category:</label>
  <div formArrayName="categories" class="categories-container">
    @for (category of categories; track category; let i = $index) {
      <div class="category">
        <label class="checkbox-label">
          <input type="checkbox" [formControlName]="i"> {{category}}
        </label>
      </div>
    }
  </div>

  <label>Skills:</label>

  <div formArrayName="skills" class="skills-container">
    @for (skill of skills; track skill; let i = $index) {
      <div class="skills">
        <label class="checkbox-label">
          <input type="checkbox" [formControlName]="i"> {{skill}}
        </label>
      </div>
    }
  </div>

  <label>mainImage:</label>
  <div class="drop-zone" (dragover)="onDragOver($event)" (drop)="onDrop($event)" [class.drag-over]="isDraggingOver">
    <p>Drag and drop an image here or click to select one.</p>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input">
  </div>

  <mat-label>Gallery</mat-label>
  <input type="file" (change)="onGallerySelected($event)" accept="image/*" multiple>

  <button type="submit">Submit</button>
</form>
