<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <label>Title:</label>
  <input type="text" formControlName="title"><br>

  <label>Highlight:</label>
  <input type="text" formControlName="highlight"><br>

  <label>Description:</label>
  <textarea formControlName="description"></textarea><br>

  <label>Category:</label>
  <div formArrayName="categories" class="categories-container">
    <div *ngFor="let category of categories; let i = index" class="category">
      <label>
        <input type="checkbox" [formControlName]="i"> {{category}}
      </label>
    </div>
  </div>

  <label>Skills:</label>

  <div formArrayName="skills" class="skills-container">
    <div *ngFor="let skill of skills; let i = index" class="skills">
      <label>
        <input type="checkbox" [formControlName]="i"> {{skill}}
      </label>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
